{% extends "template.twig" %}
{% block tituloPainel %}{{ titulo | raw }}{% endblock %}
{% block superior %}
    {% if Message is defined %}
        {% for mens in Message %}
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <ul>{{ mens | raw }}</ul>
            </div>
        {% endfor%}
    {% endif %}
    <a type="button" href="{{path('user_new')}}" class="{{class_btn}}" role="button">
        <span class="{{class_btn_new}}" aria-hidden="true"></span> Novo
    </a>
{% endblock %}

{% block conteudo %}
    <table class="{{class_table}}">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOME</th>
                <th>EMAIL</th>
                <th>ATIVO</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in result %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.ativo }}</td>
                    <td>
                        <a href="{{path('user_edit',{'id':user.id})}}" class="{{class_btn}}" aria-label="Left Align">
                            <span class="{{class_btn_edit}}" aria-hidden="true"></span>
                        </a>
                        <a href="{{path('user_delete',{'id':user.id})}}" class="{{class_btn}}" aria-label="Left Align">
                            <span class="{{class_btn_delete}}" aria-hidden="true"></span>
                        </a>

                    </td>
                </tr>   
            {% endfor %}
        </tbody>
    </table>
    {{ pagination|raw}}


{% endblock %}
