{% extends "template.twig" %}

{% block conteudo %}

    {% for mens in Message %}
        <div class="alert alert-danger" role="alert">
            <ul>{{ mens }}</ul>
        </div>
    {% endfor%}

    <form class="form-horizontal" method="POST" action="{{ path('user_edit_post') }}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="id" class="col-sm-2 control-label">ID</label>
            <div class="col-sm-4">
                <input type="text" name="id" class="form-control" id="id" value="{{ result.id }}"  readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Usu&aacute;rio</label>
            <div class="col-sm-4">
                <input type="text" name="username" class="form-control" id="username" value="{{ result.username }}" placeholder="Usu&aacute;rio">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Senha</label>
            <div class="col-sm-4">
                <input type="password" name="password" class="form-control" id="password" value="xxxxxx" placeholder="Senha">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-6">
                <input type="text" name="email" class="form-control" id="email" value="{{ result.email }}" placeholder="Email">
            </div>
        </div>

        <div class="form-group">
            <label for="ativo" class="col-sm-2 control-label">Ativado?</label>
            <div class="col-sm-2">
                <input type="checkbox" name="ativo" {% if result.ativo %} checked {% endif %} id="ativo">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="{{class_btn_form_submit}}">Cadastrar</button>
                <a type="button" href="{{path('user_listar')}}" class="{{class_btn_form_return}}" role="button">Voltar</a>
            </div>
        </div>
    </form>
{% endblock %}
