{% extends "template.twig" %}

{% block conteudo %}

    {% for mens in Message %}
        <div class="alert alert-danger" role="alert">
            <ul>{{ mens }}</ul>
        </div>
    {% endfor%}

    <form class="form-horizontal" method="POST" action="{{ path('route_edit_post') }}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="id" class="col-sm-2 control-label">ID</label>
            <div class="col-sm-4">
                <input type="text" name="id" class="form-control" id="id" value="{{ result.id }}"  readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="route" class="col-sm-2 control-label">Rota</label>
            <div class="col-sm-4">
                <input type="text" name="route" class="form-control" id="route" value="{{ result.route }}" >
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="{{class_btn_form_submit}}">Cadastrar</button>
                <a type="button" href="{{path('route_listar')}}" class="{{class_btn_form_return}}" role="button">Voltar</a>
            </div>
        </div>
    </form>
{% endblock %}
