{% extends "template.twig" %}

{% block conteudo %}

    {% for mens in Message %}
        <div class="alert alert-danger" role="alert">
            <ul>{{ mens }}</ul>
        </div>
    {% endfor%}

    <form class="form-horizontal" method="POST" action="{{ path('privilege_new_post') }}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="user" class="col-sm-2 control-label">Usu&aacute;rio</label>
            <div class="col-sm-2">
                <select name="user" class="form-control">
                    <option value="">Selecione um Usu&aacute;rio</option>
                    {% for user in params.users %}
                        <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor%}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="route" class="col-sm-2 control-label">Rota</label>
            <div class="col-sm-2">
                <select name="route" class="form-control">
                    <option value="">Selecione a rota</option>
                    {% for route in params.routes %}
                        <option value="{{ route.id }}">{{ route.route }}</option>
                    {% endfor%}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="display" class="col-sm-2 control-label">Visualizar</label>
            <div class="col-sm-2">
                <input type="checkbox" name="display" id="display">
            </div>
        </div>
        <div class="form-group">
            <label for="new" class="col-sm-2 control-label">Novo</label>
            <div class="col-sm-2">
                <input type="checkbox" name="new" id="new">
            </div>
        </div>
        <div class="form-group">
            <label for="edit" class="col-sm-2 control-label">Editar</label>
            <div class="col-sm-2">
                <input type="checkbox" name="edit" id="edit">
            </div>
        </div>
        <div class="form-group">
            <label for="delete" class="col-sm-2 control-label">Deletar</label>
            <div class="col-sm-2">
                <input type="checkbox" name="delete" id="delete">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Cadastrar</button>
            </div>
        </div>

    </form>
{% endblock %}
